.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 90px;
        height: 90px;
    }
}