@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
:root {
  --font-base: 'Zilla Slab', serif;

  --primary-color: #E09132;
  --secondary-color: #313bac;
  --red-color: #a83e4e;
  --green-color: #454230;
  --black-color: #030303;
  --lightGray-color: #faf4f4;
  --gray-color: #CDCEC9;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

